* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#canvas {
  width: 300px;
  height: 300px;
}

#video {
  width: 300px;
  height: 300px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  height: 60px;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1; 
  background: #514b82;
  clip-path: polygon(0 0,100% 0,100% 100%,75% 25%,0 0,0 100%,100% 100%,25% 75%,0 0);
  animation: l20 1.5s infinite linear;
}
.loader:after {
  clip-path: polygon(0 0,76% 24%,100% 100%,24% 76%);
  --s:0;
}
@keyframes l20 {
  0%      {transform: perspective(100px) rotate3d(1,var(--s,1),0,0)      } 
  25%     {transform: perspective(100px) rotate3d(1,var(--s,1),0,-90deg) }
  25.01%  {transform: perspective(100px) rotate3d(1,var(--s,1),0,-90deg) } 
  40%,60% {transform: perspective(100px) rotate3d(1,var(--s,1),0,-180deg)} 
  75%     {transform: perspective(100px) rotate3d(1,var(--s,1),0,-270deg)}
  75.01%  {transform: perspective(100px) rotate3d(1,var(--s,1),0,-270deg)} 
  90%,100%{transform: perspective(100px) rotate3d(1,var(--s,1),0,-360deg)}
}


/* HTML: <div class="loader"></div> */
.loader1 {
  --w:10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  letter-spacing: var(--w);
  width:var(--w);
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 
    calc(-1*var(--w)) 0, 
    calc(-2*var(--w)) 0, 
    calc(-3*var(--w)) 0, 
    calc(-4*var(--w)) 0,
    calc(-5*var(--w)) 0, 
    calc(-6*var(--w)) 0, 
    calc(-7*var(--w)) 0, 
    calc(-8*var(--w)) 0, 
    calc(-9*var(--w)) 0;
  animation: l16 2s infinite;
}
.loader1:before {
  content:"Loading...";
}
@keyframes l16 {
  20% {text-shadow: 
    calc(-1*var(--w)) 0, 
    calc(-2*var(--w)) 0 red, 
    calc(-3*var(--w)) 0, 
    calc(-4*var(--w)) 0 #ffa516,
    calc(-5*var(--w)) 0 #63fff4, 
    calc(-6*var(--w)) 0, 
    calc(-7*var(--w)) 0, 
    calc(-8*var(--w)) 0 green, 
    calc(-9*var(--w)) 0;}
  40% {text-shadow: 
    calc(-1*var(--w)) 0, 
    calc(-2*var(--w)) 0 red, 
    calc(-3*var(--w)) 0 #e945e9, 
    calc(-4*var(--w)) 0,
    calc(-5*var(--w)) 0 green, 
    calc(-6*var(--w)) 0 orange, 
    calc(-7*var(--w)) 0, 
    calc(-8*var(--w)) 0 green, 
    calc(-9*var(--w)) 0;}
  60% {text-shadow: 
    calc(-1*var(--w)) 0 lightblue, 
    calc(-2*var(--w)) 0, 
    calc(-3*var(--w)) 0 #e945e9, 
    calc(-4*var(--w)) 0,
    calc(-5*var(--w)) 0 green, 
    calc(-6*var(--w)) 0, 
    calc(-7*var(--w)) 0 yellow, 
    calc(-8*var(--w)) 0 #ffa516, 
    calc(-9*var(--w)) 0 red;}
  80% {text-shadow: 
    calc(-1*var(--w)) 0 lightblue, 
    calc(-2*var(--w)) 0 yellow, 
    calc(-3*var(--w)) 0 #63fff4, 
    calc(-4*var(--w)) 0 #ffa516,
    calc(-5*var(--w)) 0 red, 
    calc(-6*var(--w)) 0, 
    calc(-7*var(--w)) 0 grey, 
    calc(-8*var(--w)) 0 #63fff4, 
    calc(-9*var(--w)) 0 ;}
}